.center {
  text-align: center;
}

h1 {
  font-family: "Audiowide", cursive;
}

h2 {
  font-family: "Mina", sans-serif;
}

.letterspacing {
  letter-spacing: 2px;
}

.h1 {
  background-color: #ffe300;
}

.h2 {
  background-color: black;
  color: #ffe300;
}

@media only screen and (min-width: 38em) {

  .h1reverse {
    background-color: black;
    color: #ffe300;
  }

  .h2reverse {
    background-color: #ffe300;
    color: black;
  }

}

@media only screen and (min-width: 60em) {

  .large {
    background-color: #ffe300;
    color: black;
  }

  .large2 {
    background-color: black;
    color: #ffe300;
  }

}
